$red:#9F1501;
 $peachRed:#CF5240;
 $brightRed:#EB1F01;
 $darkRed:#462E2B ;
 $blue:#0099CC;
 body {
    background-color: $peachRed;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 2em;
    line-height: 1.3em;
    ul li {
        list-style: none;
    }
}
nav {
    background-color: $darkRed;
    position: fixed;
    margin: 0;
    width: 100%;
    text-align: center;
    #logo {
        height: 1.8em;
        width: auto;
        padding-top: 0.2em;
    }
}
.question {
    background-color: $peachRed;
    text-align: center;
    color: white;
    padding: 1em;
}
button {
    border-radius: .2em;
    border: 2px solid white;
    background-color: $peachRed;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.7em;
    color: white;
    width: 100%;
}
button:hover {
    background-color: $peachRed;
}