<div class="question full">What's on your mind?</div>
<div class = "small-12 small-centered columns text-center">
  <div class="question full">1. What's on your mind?</div>
  <br>
  <button>Snuggy</button>
  <br>
  <button>Cigars</button>
  <br>
  <button>Hardcore Parkour</button>
  <br>
</div>
