<nav class="small-12 large-8 medium-8 small-centered medium-centered large-centered columns">
    Toastie
</nav>

<div class="question full">
  <p>Login or Register with:</p>
  <a href="/login" class="button"> Local Login</a>
  <a href="/signup" class="button"> Local Signup</a>
</div>

<div class=Question></div>
<div class=Result></div>
