<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon">
          <span></span>
        </a>
      </section>
      <section class="middle tab-bar-section">
        <a href="/"><img id="logo" src="../assets/images/toastie.png"/></a>
      </section>
    </nav>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><a href="#login">Log in</a></li>
        <li><a href="#">Log out</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Saved Items</a></li>
      </ul>
    </aside>
    <i class="fa-menu"></i>

    <a class="exit-off-canvas"></a>

  <div class=Question></div>
  <div class=Result></div>

  </div>
</div>
