<div class="small-12 medium-8 large-8 small-centered medium-centered large-centered columns">
    <h1>Log in</h1>

    <form class="loginForm" action="/login" method="post">

        <label for="email">Email</label>
        <input class="shortInput" id="email" type="text">

        <label for="password">Password</label>
        <input class="shortInput" id="password" type="text">

        <button type="submit">Login</button>

        <a class="sub-line" href="">Forgot your password?</a>
    </form>
    <a href="/signup">Create an Account</a>
</div>
