<div>
  <h1>Log in</h1>
  <p>
    Need to sign up? You can <a href="/signup">sign up here.</a>
  </p>
  <form class="loginForm" action="/login" method="post">
    <div>
      <label for="email">Email</label><br>
      <input class="shortInput" id="email" type="text"><br>

      <label for="password">Password</label><br>
      <input class="shortInput" id="password" type="text"><br>

      <a href="">Forgot your password?</a>
    </div><!-- end column 2 contact form -->
    <div>
      <button type="submit" class="button">Create account</button>
    </div>
  </form>
</div>
