<div class="loginForm small-12 medium-8 large-8 small-centered medium-centered large-centered columns">
    <form class="loginForm" action="/login" method="post">
        <input id="emailInput" name="email" type="text" placeholder="email">
        <input id="passwordInput" name="password" type="password" placeholder="passwords">
        <a class="sub-line" href="">Forgot your password?</a>
        <button id="login" type="submit">Sign-in</button>

        
            <div class="dividerWord small-1 large-1 medium-1 small-centered large-centered medium-centered columns">or</div>
           
       

    </form>
    <div id="createAccount" class="small-12 medium-8 large-8 small-centered medium-centered large-centered columns">
        <a href="#signup">Create an Account</a>
    </div>
    <h1 id="badCredentials"></h1>
</div>
