<div class="loginForm small-12 medium-8 large-8 small-centered medium-centered large-centered columns">
    <h1>
      Account Info
    </h1>
    <form  method="post">
        <h2>Verify Information</h2>
        <input type="text" class="form-control" id="verifyEmail" name="email" placeholder="email">
        <input type="password" class="form-control" id="verifyPassword" name="password" placeholder="password">

        <h2>New details</h2>
        <input type="text" class="form-control" id="newName" name="name" placeholder="Name">
        <input type="text" class="form-control" id="newEmail" name="email" placeholder="email">
        <input type="password" class="form-control" id="newPassword" name="password" placeholder="password">
        <button id="editInfo">Edit</button>
    </form>
</div>