<div class="page-header text-center">
  <h1><span class="fa fa-anchor"></span> Profile Page</h1>
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
<div class="row">

  <!-- TWITTER INFORMATION -->
<div class="col-sm-6">
  <div class="well">
    <!--<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>-->

      <p>
        <!--<strong>id</strong>: <%= user.twitter.id %><br>-->
        <!--<strong>token</strong>: <%= user.twitter.token %><br>-->
        <!--<strong>username</strong>: <%= user.twitter.username %><br>-->
        <!--<strong>displayName</strong>: <%= user.twitter.displayName %>-->
      </p>
  </div>
  <div class="well">
    <h3><span class="fa fa-user"></span> Local</h3>
      <p>
        <strong>id</strong>: {{user.id}} <br>
        <strong>email</strong>: {{user.local.email}} <br>
      </p>
  </div>
</div>



