<div class = "small-12 small-centered columns text-center">
  <div class="question full">{{question}}</div>
	{{#each choices}}
	  <button id="ingredient" class={{ingredient}}>{{label}}</button>
	{{/each}}
</div>
