<div class="loginForm small-12 medium-8 large-8 small-centered medium-centered large-centered columns">
    <h1>
        Create Account
    </h1>
    <form action="#signup">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        <input type="text" class="form-control" id="emailInput" name="email" placeholder="email">
        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="password">
        <input type="password" class="form-control" id="verifyPassword" name="password" placeholder="confirm pasword">
        <button id="signup">Create Account</button>
    </form>

    <button id="Cancel">Cancel</button>
    <h1 id="errors"></h1>
</div>

